<div class="container">
    <div class="container">
        <div class="page-header">
            <h1>{{curcompany.companyName}}</h1>
        </div>
        <img src="{{curcompany.img}}" class="page-avatar">
        <h4>City: {{curcompany.city}}</h4>
        <h4>About Us: {{curcompany.about}}</h4>
        <h4>Contacts: {{curcompany.contacts}}</h4>
    </div>
</div>